@import url(font-awesome.min.css);
.
*, *:after, *:before {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: #272727;
  font-family: Hurme2, sans-serif;
  color: #333; }
#footer {
  position: absolute;
  bottom: 2em;
  font-size: .8em;
  margin-left:1.5em;
  margin-top: 2em;
  padding: 1em;
  text-align: right;
}
#headerWrapper{
  align-self: auto;
  height: 56px;
  width: 100%;
  position: relative;
  font: helvetica;
  font-size: 24px;
  color: white;
  background-color: #666666;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}
#infoBox {
  position: absolute;
  float:left;
  margin-top: 44px;
  margin-left: 6px;
  top: 10px;
  left: 10px;
}
h1 {
  margin-left: 12px;
  margin-top: 0px;
  font-family: helvetica;
  font-size: 2em;
  color: #cccccc;
}
h2 {
  font-family: helvetica;
  font-size: 1.6em;
  color: #cccccc;
}
h3 {
  font-family: helvetica;
  font-size: 1.2em;
  color: #aaaaaa;
}
#name {
  font: helvetica;
  font-size: 1.4em;
  color: #FFFFFF;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

#sidebar {
  position: absolute;
  right:0;
  max-width:40%;
  padding-left: 3em;
}

#sidebar > div {
  background: rgba(117, 117, 117, 0.12);
  margin-right: 2em;
  border: 1px solid rgba(0,0,0,.7);
  border-radius: 3px;
}

/* TAG CLOUD */

#htmltagcloud {
  line-height: 1.8em;
  word-spacing: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: justify;
  text-indent: 0;
  padding: 2em;
}

#htmltagcloud a:link {
  text-decoration: none
}

#htmltagcloud a:visited {
  text-decoration: none
}

#htmltagcloud a:hover {
  font-weight:bold;
}

#htmltagcloud a:active {
  color: white;
}

.wrd {
  padding: 0;
  position: relative
}

.wrd a {
  text-decoration: none
}

.freq {
  font-size: 10pt !important;
  color: #bbb
}

#credit {
  text-align: center;
  color: #fff;
  margin-bottom: 0.6em;
  font: 0.5em;
}

#credit a:link {
  color: #777;
  text-decoration: none
}

#credit a:visited {
  color: #777;
  text-decoration: none
}

#credit a:hover {
  font-weight: bold;
}

.states.negative {
  fill: #63A69F;
}
.states.positive {
  fill: #FF8586;
}
.states.neutral {
  fill: #DECEB3;
}
/* Legend */

ul {
  padding: 0;
}
.legendbox li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
  margin-right: 1.5em;
  color: #FFFFFF;
}
.legendbox li div {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #FF8586;
}
.legendbox li div.sad {
  background-color: #63A69F;
}
.legendbox li div.neutral {
  background-color: #DECEB3;
}
#headerWrapper {
  background: none;
}
#headerWrapper h1 {
  font-size: 1.5em;
  font-family: 'Open Sans';
  font-weight:normal;
  padding: 15px 6px;
  color: #FFFFFF;
  margin-top: 0;
}
#sidebar h3 {
  font-size: .9em;
  font-weight:normal;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans";
  margin: 2em 0 0.7em;
}
/* select */
select {
  border: 0;
  background: transparent;
  font-size: 12px;
  padding: 2px 10px;
  width: 378px;
  *width: 350px;
  *background: #58B14C;
  -webkit-appearance: none;
}
.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
  background-color: #fefefe;
}
.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
 }
.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .half {
    width: 100% !important;
    height: 50% !important; }
  .half .quarter .inner {
    align-items: center;
    display: flex;
    justify-content: center; }
  .half .quarter p {
    width: 70vw !important; }
  .half .quarter p.contact {
    width: 100% !important;
    font-size: 0.85rem !important; }
  .half .quarter h2 {
    font-size: 1rem !important; }
  .half .quarter h2.subtitle {
    font-size: 1.4rem !important; }
  .half .quarter .highlight {
    font-size: 0.75rem !important; }
  .half .quarter.empty {
    display: none !important; }
  header {
    /*video {
      display: none;
    }*/ }
  header.video {
    background-image: url("/images/sea.gif");
    content: "";
    background-size: cover;
    height: 100vh;
    filter: grayscale(65%); }
  header #logo {
    width: 35vw !important; }
  header #logo.smaller {
    width: 20vw !important; } }

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
.overlay i {
  position: absolute;
  font-size: 40px;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  bottom: 3.5vh;
  opacity: 0.8;
  left: 50vw;
  transform: translate(-50%); }
.overlay i:hover {
  animation: MoveUpDown 1s linear infinite; }
.overlay #logo {
  position: fixed;
  width: 15vw;
  top: 3vh;
  left: 3vw;
  display: flex;
  text-align: center;
  z-index: 999; }
.overlay #logo.smaller {
  width: 7vw; }

header .mobile-video {
  display: none; }

header.video {
  margin-bottom: -3px; }
header.video video {
  filter: grayscale(65%); }

@keyframes MoveUpDown {
  0% {
    bottom: 3.5vh;
    left: 50vw; }
  50% {
    bottom: 5vh;
    left: 50vw; }
  100% {
    bottom: 3.5vh;
    left: 50vw; } }
