svg {
	margin-left: 12px;
	margin-top: 18px;
	width: 800px;
	 height: 800px;
	pointer-events: all;
}

circle {
	fill: #dbe4f0;
}

path {
	fill: #aaa;
	stroke: #fff;
}

.states {
	fill: #e5e5e5;
	stroke: #fff;
	stroke-width:1px;
}

.states:hover {
	fill: steelblue;
}